<h1 class="text-center">Edit an Employee</h1>
  <h1 class="text-center">Employee Onboarding</h1>
  <%= form_for :employee, method: :patch, url: employee_path do |f| %>
    <% if @employee.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div><!-- form-group -->
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class:"form-control" %>
  </div> <!-- form-group -->
  <div class="form-group">
    <%= f.label :employeeid %><br>
    <%= f.text_field :employeeid, class:"form-control" %>
  </div> <!-- form-group -->
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div> <!-- form-group -->
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class:"form-control" %>
  </div> <!-- form-group -->
  <div class="form-actions">
    <%= f.submit 'Save Employee!', :class => 'btn btn-primary' %>
  </div> <!-- form-actions -->
</div> <!-- container -->
<%=link_to 'Back', employee_index_path %>
<% end %>