<h1 class="text-center">Employees</h1>
<%= link_to 'New Employee', new_path, :class=>'ml-3'  %>
<br/><br/>
<table class="table text-center table-striped">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Position</th>
    <th scope="col">Actions</th>
  </tr>
  
  <% @employee.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.position %>
    <td>
      <%= link_to 'Show', employee_path(employee), :class=>'btn btn-primary' %>
      <%= link_to 'Edit', edit_employee_path(employee), :class=> 'btn btn-warning' %>
      <%= link_to 'Destroy', 
          employee_path(employee),
          method: :delete,
          data: {confirm: "Are you Sure?"},
          :class=> 'btn btn-danger destroy-hover' %>
    </td>
  </tr>
  <% end %>
</table>

<%=link_to 'Back to Home', welcome_index_path, :class=>'ml-3'%> 
