<<<<<<< HEAD
<h1>Employee Onboarding</h1>
<%= form_for :employee, url: employee_index_path do |f| %>
    <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :position %><br>
    <%= f.text_area :position %>
  </p>
 <p>
    <%= f.label :employeeid %><br>
    <%= f.text_area :employeeid %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
=======
<h1 class="text-center">Employee Onboarding</h1>
  <%= render 'form' %>
>>>>>>> 3a2ef6abe56563a3426cb70b4fdc8020a424ad99
<%=link_to 'Back', employee_index_path %>