<div class="container-fluid">
    <div class="row text-center lead display-4 pb-3">
        <div class="col-lg">
        <%= @employee.name %>
        </div> <!-- col-lg -->
    </div> <!-- row text-center lead -->
    <div class="row justify-content-center">
            <img src="https://via.placeholder.com/200" class="rounded-circle">
    </div> <!-- row justify-content-center -->
    
    <div class="row">
        <div class="col-lg-6">
            <h2 class="display-4 pt-4 pb-4" style="font-size: 200%">
                Employee Information
            </h2> <!-- h2 -->
        
            <table width="90%">
                <tr>
                    <td class="pl-5">
                     <strong> Position: </strong> 
                    </td>
                    <td style="text-align: right">
                        <%= @employee.position %> 
                    </td>
                </tr>
                <tr>
                    <td class="pl-5">
                     <strong> Employee ID: </strong> 
                    </td>
                
                    <td style="text-align: right">
                        <%= @employee.id %> 
                    </td>
                </tr>            
                <tr>
                    <td class="pl-5">
                     <strong> Email: </strong> 
                    </td>
                
                    <td style="text-align: right">
                        <%= @employee.email %> 
                    </td>
                </tr>
                <tr>
                    <td class="pl-5">
                     <strong> Phone: </strong> 
                    </td>
                
                    <td style="text-align: right">
                        <%= @employee.phone %> 
                    </td>
                </tr>
            </table>
            
            <h3 class="display-4 pt-4" style="font-size: 150%">
                Bio: 
            </h3>
            

            
            
        </div><!-- col-lg-6 -->
        
    
        <div class="col-lg-6">
        <h2 class="display-4 pt-4 pb-4" style="font-size: 200%; "> Current Projects </h2>
            <% @employee.projects.each do |project| %>
            <p>
                <strong>Title:</strong>
                <%= project.title %>
            </p>
            <p>
                <strong>Project Description:</strong>
                <%= project.body %>
            </p>
            <% end %>
        <h3 class="display-4 pt-5" style="font-size: 150%"> Add a project: </h3>
        <div class="row justify-content-center">
          <%= form_for([@employee, @employee.projects.build]) do |f| %>
        <p>
            <%= f.label :title %> <br>
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :body %> <br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit %>
        </p>
        <% end %>           
            
        </div>
        
        </div> <!-- col-lg-6 -->
        
    </div> <!-- row -->

    <%= link_to 'Employees', employee_index_path %>
</div><!-- container -->