<p>
    <strong>Name:</strog>
    <%= @employee.name %>
</p>
<p>
    <strong>Position:</strog>
    <%= @employee.position %>
</p>
<p>
    <strong>Employee Id:</strog>
    <%= @employee.employeeid %>
</p>
<p>
    <strong>Email:</strog>
    <%= @employee.email %>
</p>
<p>
    <strong>Phone:</strog>
    <%= @employee.phone %>
</p>