

    <h5>Welcome to <strong style = "color: red">Ompany Ncorporated</strong></h5>
    
    <div class="container">
   <%if current_employee%>
     Logged in as <%= current_employee.name%>
     <%=link_to "Log Out", logout_path%><br>
     <%=link_to "Directory", employee_index_path%>
   <%else%>
     <%= form_tag sessions_path do |form| %>
    <div class="field">
        <%= label_tag :email%>
        <%= text_field_tag :email%>
    </div>
   <div class="field">
        <%= label_tag :password%>
        <%= password_field_tag :password%>
    </div>
    <div class="actions">
        <%= submit_tag "Login"%>
    </div>
   <%end%>
   <%end%>
   
</p>

    </div> <!-- container -->
</div> <!-- wrapper -->

