

    <h5>Welcome to <strong style = "color: red">Ompany Ncorporated</strong></h5>
    
    <div class="container">
    <div class="loginForm form-group">
      <label for="username">Username: </label>
      <input type="text" class="form-control" id="username">
      
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password">
    </div><!-- loginForm"-->
    <%= link_to 'Login', controller: 'employee' %>
    <p>
   <%if current_user%>
     Logged in as <%= current_user.name%>
     <%=link_to "Log Out", logout_path%>
   <%else%>
     <%=link_to "Sign Up", new_path%> or
     <%=link_to "Log in", login_path%>
   <%end%>
</p>

    </div> <!-- container -->
</div> <!-- wrapper -->

