<h1>Employee Onboarding</h1>

<br>
<h2>Please enter employee information</h2>
<table>
    <tr> 
    <th>Name</th>
    <th>Position</th>
    <th>ID</th>
    <th>Email</th>
    <th>Phone</th></tr>
    <% @employees.each do |onboarding| %>
    <tr>
        <td><%= onboarding.name %></td>
        <td><%= onboarding.position %></td>
        <td><%= onboarding.employeeid %></td>
        <td><%= onboarding.email %></td>
        <td><%= onboarding.phone %></td>
    </tr>
    <% end %>
</table>